@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

a {
    color: black;
}

input {
    background-color: #ffe600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    border: none;
}

h1 {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 800;
}

p {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}

section {
    padding: 50px 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: black;
}

/* Extra small devices (phones, 600px and down) */

header {
    width: 100vw;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: #ffe600;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a i {
    font-size: 35px;
    padding-top: 10px;
    padding-right: 15px;
}

.nav-items {
    display: flex;
    height: 0px;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease;
    overflow: hidden;
}

.nav-items a {
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: none;
}

img {
    width: 100%;
}

/* Main content */

main {
    padding: 40px 0px;
    padding-bottom: 0;
}

main div.portfolio {
    padding: 50px 10px;
}

main div.portfolio div h1 {
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 800;
    margin: 0 0;
}

main div.portfolio div p {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}

/* Work */
#work {}

#work .work-options-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #ffe600;
}

#work div select {
    /* width: 50%; */
    height: 50px;
    background-color: #ffe600;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}

#work .work-options {
    display: none;
}

#work img {
    width: 100%;
    padding: 10px 0px;
}

#work .brand img {
    padding: 50px 0;
    padding-bottom: 0;
    width: 30vw;
}

/* About */

#about {}

#about .luke {
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    color: white;
    padding-left: 30px;
    margin: 10px 0;
}

#about .lukeA {
    background-image: url(./assets/front-view-male-courier-blue-uniform-cap-with-delivery-coffee-cups-his-hands-light-pink-wall.jpg);
}

#about .lukeB {
    background-image: url(./assets/young-handsome-guy-wearing-pink-polo-shirt-singing-phone-standing-pink-wall.jpg);
}

/* Blog */

#blog {}

#contact div h1 {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 30px;
}

#contact {
    overflow: hidden;
}

#contact form input {
    text-transform: capitalize;
    margin: 5px 0;
    padding-left: 10px;
}

#contact div input[type="text"],
input[type="email"],
input[type="textbox"] {
    background-color: #edf2f6;
    padding-right: 10px;
    box-sizing: border-box;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.contactDetails span {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactDetails span a {
    text-decoration: none;
}

.socialmedia span {
    padding: 50px 0;
    display: flex;
    width: 60vw;
    margin-left: 20vw;
    justify-content: space-between;
}

.socialmedia span i {
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    padding: 30px 20px;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    color: white;
}

footer img {
    width: 85px;
}

.backToTopButton a {
    position: fixed;
    right: 40px;
    color: white;
    bottom: 40px;
    height: 60px;
    width: 60px;
    background-color: black;
    border: solid black;
    border-radius: 50%;
}

.backToTopButton i {
    font-size: 30px;
    padding: 15px 17px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}